* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.header {
    background-color: #25212b;
    height: 100px;
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 300px;
}

.logo img {
    height: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links a {
    color: white;
    display: block;
    padding: 0.65rem 2rem;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links .top-link {
    border: 1px solid #c7baba;
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.nav-links .top-link-1 {
    margin-right: 0.4rem;
}

.nav-links .top-link-1 a {
    padding: 0.9rem 2rem;
}

.nav-links .top-link-2 {
    background-color: #ed1c24;
    border: transparent;
}
.nav-links .top-link-2 a {
    padding: 0.9rem 2rem;
}

