* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header {
    background-color: #25212b;
    height: 100px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.logo {
    height: 100%;
    width: 300px;
}

.logo img {
    height: 100%;
}

